<% if logged_in? %>

    <p>ユーザー名：<%= current_user.name %></p>
    <%= link_to 'ログアウト', logout_path, method: :delete %>
    
    <h1>一覧</h1>
    <ul>
        <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %>：<%= task.content %></li>
        <% end %>
    </ul>
    
    <%= paginate @tasks %>
    
    <%= link_to '新規作成', new_task_path %>
<% else %>
    <%= link_to 'ログイン', login_path %>
    <%= link_to '新規ユーザー登録', signup_path %>
<% end %>